<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="btprox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <btprox.Properties.Settings>
            <setting name="Period" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DeviceAddress" serializeAs="String">
                <value/>
            </setting>
            <setting name="DeviceName" serializeAs="String">
                <value/>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LockCommand" serializeAs="String">
                <value/>
            </setting>
            <setting name="Countdown" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UnlockCommand" serializeAs="String">
                <value/>
            </setting>
            <setting name="SkipLock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowBaloons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="locale" serializeAs="String">
                <value/>
            </setting>
            <setting name="soundEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useWindowsLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectionRetries" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LockArguments" serializeAs="String">
                <value/>
            </setting>
            <setting name="UnlockArguments" serializeAs="String">
                <value/>
            </setting>
            <setting name="PreviousPosition" serializeAs="String">
                <value>50, 50</value>
            </setting>
        </btprox.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
